
<ul class="comment-list">


    {
        <li class="comment">
            <div class="vcard bio">
                <img src="~/carbook-master/images/person_1.jpg" alt="Image placeholder">
            </div>
            <div class="comment-body">
                <h3>sfsd</h3>
                <div class="meta">15165</div>
                <p>sdfsd</p>
            </div>
        </li>
    }
</ul>