
{
    <div class="about-author d-flex p-4 bg-light">
        <div class="bio mr-5">
            <img src="aa" alt="Image placeholder" class="img-fluid mb-4">
        </div>
        <div class="desc">
            <h3>demne</h3>
            <p>ads</p>
        </div>
    </div>
}